@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Home Page";
}

<div ng-controller="MainController">
    <div class="title-container">
        <h1>{{name | uppercase}}</h1>
        <h3>{{title}}</h3>
    </div>
</div>
<div class="nav">
    <div class="home">
        <a href="~/Views/Home/Index.cshtml"><p>Home</p></a>
    </div>
    <div class="Resume">
    <a href="~/Content/Resume/Airik_Leon_Resume.pdf"><p>Resume</p></a>
         </div>
    <div class="projects">
         <a ><p>Projects</p></a>
    </div>
</div>
<div class="CV">
    <h2>Resume</h2>
    <h3>Education</h3>
    <strong><label>Park University - December 2017</label></strong>
    <hr />
    <label>BS Computer Science/Software Engineering</label><br /><br />
    <strong><label>Park University - December 2016</label></strong><br />
    <hr />
    <label>BA Multi-media Journalism &amp; Public Relations</label><br />

    <h3>Professional Experience</h3>
    <strong><label>Technical Writer</label></strong><br />
    <hr />
    <label>Pinsight Media, Kansas City MO, June 2016 -December 2016 </label>
    <ul>
        <li>Develop reports on large scale transfer of location/behavior data between internal and external parties</li>
        <li>Communicate standards for infrastructure, software requirements, and data origination points</li>
        <li>Review software architecture designs for ETL requirements</li>
        <li>Create diagrams for networking upgrades and business tier software applications</li>
    </ul>
    <br />
    <strong><label>Heavy Equipment Operator</label></strong><br />
    <hr />
    <label>United States Marine Corps, February 2010 - February 2014</label>
    <ul>
        <li>Operated Equipment to support the Air wing and mission critical military operations</li>
        <li>Oversaw the project management and construction of roads, helicopter pads, and runways</li>
        <li>Managed the maintenance cycles of $3 million dollars’ worth of heavy equipment</li>
        <li>Mentored and taught junior members on HE techniques and proper construction of various projects and implementations.</li>
    </ul>
</div>
<div class="skills-box">
    <h2>Programming Languages</h2>
    <div class="Csharp-skills">
        <div></div>
    </div>
    <label>C#</label>
    <div class="CPP-skills">
        <div></div>
    </div>
    <label>C++</label>
    <div class="java-skills">
        <div></div>
    </div>
    <label>Java</label>
    <div class="JS-skills">
        <div></div>
    </div>
    <label>JavaScript</label>
    <div class="VB-skills">
        <div></div>
    </div>
    <label>Visual Basic</label>
    <div class="CL-skills">
        <div></div>
    </div>
    <label>Common LISP</label>

    <h2>DataBases</h2>
    <div class="sql-skills">
        <div></div>
    </div>
    <label>SQL</label>
    <div class="mongo-skills">
        <div></div>
    </div>
    <label>NoSQL</label>
    <h2>Dev Tools</h2>
    <div class="winForms">
        <div></div>
    </div>
    <label>Windows Forms</label>
    <div class="webForms">
        <div></div>
    </div>
    <label>Web Forms</label>
    <div class="netMVC">
        <div></div>
    </div>
    <label>.Net MVC</label>
    <div class="webAPI">
        <div></div>
    </div>
    <label>.Net Web API</label>
    <div class="angular">
        <div></div>
    </div>
    <label>AngularJS</label>
    <h2>Operating Systems</h2>
    <div class="windowsOS">
        <div></div>
    </div>
    <label>Windows</label>
    <div class="LinuxOS">
        <div></div>
    </div>
    <label>Linux</label> 
</div>
<div class="projects-box">
    <h2>Projects</h2>
    <ul>
        <li>BreakerBall</li>
    </ul>
</div>

<div class="social">
    <ul>
        <li><a href="https://www.facebook.com/airik.leon"><img  class="icon" src="~/Content/SocialIcons/face book.jpg" /></a></li>
        <li><a href="https://twitter.com/Airik_Leon"><img class="icon" src="~/Content/SocialIcons/twitter.jpg" /></a></li>
        <li><a href="mailto:airik.leon@gmail.com"><img class="icon" src="~/Content/SocialIcons/gplus.jpg" /></a></li>
        <li><a href="https://www.linkedin.com/in/airik-leon-b0730a93/"><img class="icon" src="~/Content/SocialIcons/linked in.jpg" /></a></li>
        <li><a href="https://github.com/Airik-Leon"><img class="icon" src="~/Content/SocialIcons/github .jpg" /></a></li>
    </ul>
</div>
