<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="MainController">

        @RenderBody()
    <footer>

    </footer>
    <!--Modules -->
    <script src="~/Scripts/Front/app.js"></script>
    <!--Controllers-->
    <script src="~/Scripts/Front/Controllers/MainController.js"></script>
    <!--Directives-->
    <script src="~/Scripts/Front/Directives/Skills-info.js"></script>
</body>
</html>
